.theme-cosmos {
	--variable-shim-primary: #f8f8f2 !important;
    --variable-shim-comment: #75715f !important;
    --variable-shim-keyword: #f72d74 !important;
    --variable-shim-string: #e6da7b !important;
    --variable-shim-number: #ae85fc !important;
    --variable-shim-operator: #f8f8f2 !important;
    --variable-shim-property: #a7de3f !important;
	--variable-shim-primary-background: #1f1f1f !important;
}

/*
.CodeMirror pre {
  font-family: monospace !important;
}*/